.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgba(128, 128, 128, 0.226);
    padding-top: 50px;
    padding-bottom: 20px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-left: 50px;
    
}
.cart-container{
    margin-left: 0;
}
.cart{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: white;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius:50px 0px 0px 0px;
}
.book-list{
    padding-left: 10px;
    color: blue;
}
.book-img{
    width: 20px;
    height: 20px;
    padding-right: 10px;
    border-radius: 5px;
}
.choose-btn{
    width: 60%;
    border: none;
    background-color: rgba(255, 127, 80, 0.719);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.cart-btn-txt{
    font-weight: 500;
    color: white;
}
@media screen and (max-width: 1000px) {
    .shop-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .cart-container{
        margin-left: 50px;
        margin-bottom: 20px;
        margin-right: 50px;
    }
}
@media screen and (max-width: 800px) {
    .shop-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .products-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .cart-container{
        margin-left: 50px;
        margin-bottom: 20px;
        margin-right: 50px;
    }
}
@media screen and (max-width: 400px) {
    .shop-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .products-container{
        grid-template-columns: repeat(1, 1fr);
    }
}