.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgba(128, 128, 128, 0.226);
    padding-top: 50px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    
}